<div id="content">
	<h1>Home Page for my Rails App</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
	<%= link_to 'About Me', '/about' %>
</div>


<script>

	// Page scripts
	(function ( window, document, $, undefined ) {
		
	})( this, document, $ )
</script>