/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
*/
body {
	background: url(http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822275-1920-1080.jpg) no-repeat;
	font-family: arial, sans-serif;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	color: #999;
}
a, a:link, a:visited {
	color: yellow;
}
a:hover, a:focus {
	color: #fff;
}
#content {	
	background: url(http://www.chicagowebguru.com/images/div-bg.png) repeat top left;
	padding: 20px;
	margin: 100px;
}